Source: hybrid-avisynth-extension
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Section: video
Homepage: https://github.com/darealshinji/hybrid-debian/tree/avisynth-extension

Package: hybrid-avisynth-extension
Architecture: amd64
Depends:
 ${misc:Depends},
 hybrid,
 p7zip-full,
 wget,
 wine,
 zenity
Description: Hybrid Avisynth extension
 Enables avisynth script generation.
