Source: hybrid
Priority: optional
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Section: video
Homepage: http://www.selur.de

Package: hybrid
Architecture: amd64
Depends:
 ${misc:Depends},
 libc6 (>= 2.14),
 libgcc1 (>= 1:4.1.1),
 libqt5core5a (>= 5.2.0),
 libqt5dbus5 (>= 5.0.2),
 libqt5gui5 (>= 5.0.2) | libqt5gui5-gles (>= 5.0.2),
 libqt5multimedia5 (>= 5.0.2),
 libqt5network5 (>= 5.0.2),
 libqt5widgets5 (>= 5.2.0),
 libqt5xml5 (>= 5.0.2),
 libstdc++6 (>= 4.4.0),
 sni-qt,
 wget,
 unzip,
 zenity
Suggests:
 hybrid-tools,
 hybrid-vapoursynth-extension,
 hybrid-avisynth-extension
Description: Multi platform Qt based encoding frontend
 It can convert nearly every input to x264/x265/Xvid/VP9/...
 + ac3/ogg/mp3/aac/flac inside an mp4/m2ts/mkv/webm/mov/avi container,
 a Blu-ray or an AVCHD structure.
 .
 Here's a general feature list:
  * extensive ability to configure x264's setting (with dependency checks)
  * ability to configure x265's setting
  * tagging support for mkv/mp4/mov
  * chapter support for mkv/mp4/Blu-ray
  * subtitle support for mkv/mp4/Blu-ray
  * separated audio-, video-, filter profiles, audio&video combi profiles
  * an integrated bitrate calculator
  * accepts vc-1 and avc raw input
  * manual & automatic creation & pass-through of chapters
  * ability to encode single title/chapters
  * a job-control
  * aac/mp3/ac3/ogg/flac/dts/pcm audio encoding with
    dcaenc/mencoder/ffmpeg/aften and different aac encoders
  * supported aac encoders: qaac, fdk, faac, fhg, neroaacenc, vo-aacenc
  * filtering through mencoder (+ some resize automation)
  * acceptable Input: avs and everything that mplayer/ffmpeg can decode
  * supported video output formats: MPEG-4 ASP (Xvid), MPEG-4 AVC
    (x264, cuda, qsvencc), VP8/VP9 (vpxenc), ProRes (ffmpeg), MPEG-4 HEVC
    (x265, kvazaar, DivX265), FFV1 (ffmpeg), UT video (ffmpeg), FFvHuff (ffmpeg)
  * supported audio output formats: dts, ac3, ogg vorbis, mp3, aac, flac, pcm,
    opus, pass-through
  * supported containers: mov/mp4/mkv/m2ts/webm/avi, Blu-ray or a AVCHD
    structure
  * audio/video pass-through -> can be used for muxing, tagging, chapter editing
  * a lot of option to automate stuff

Package: hybrid-tools
Architecture: amd64
Depends:
 ${misc:Depends},
 wget,
 xterm
Suggests:
 hybrid-vapoursynth-extension,
 hybrid-avisynth-extension,
# non-free build-dependencies
 autoconf,
 build-essential,
 git,
 unzip,
 upx-ucl,
# non-free runtime dependencies
 libc6:i386,
 libgcc1:i386,
 libstdc++6:i386,
 libfreetype6:i386,
 zlib1g:i386
Enhances: hybrid
Description: All tools required by Hybrid
 This package provides scripts to download, install and update all required
 tools locally. A script for downloading and building non-free tools is
 available too.

Package: hybrid-vapoursynth-extension
Architecture: amd64
Section: metapackages
Depends:
 ${misc:Depends},
 d2vwitch,
 vapoursynth,
 vapoursynth-editor,
 vapoursynth-extra-plugins
Description: Hybrid VapourSynth support
 This metapackage will install all packages required to support VapourSynth
 in Hybrid.

