#!/usr/bin/make -f

QMAKE_CXXFLAGS = $(shell dpkg-buildflags --get CXXFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)
QMAKE_LFLAGS   = $(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed


%:
	dh $@

override_dh_auto_build:
	QMAKE_CXXFLAGS="$(QMAKE_CXXFLAGS)" \
	QMAKE_LFLAGS="$(QMAKE_LFLAGS)" \
	dh_auto_build

override_dh_installdocs:
	dh_installdocs -phybrid-common -phybrid-tools
	dh_installdocs -phybrid -phybrid-qt5 --link-doc=hybrid-common

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

