#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- -f hybrid.mk

override_dh_auto_install:
	$(MAKE) -f hybrid.mk install DESTDIR=$(CURDIR)/debian/tmp

override_dh_installdocs:
	dh_installdocs -phybrid-common -phybrid-tools
	dh_installdocs -phybrid -phybrid-qt46 -phybrid-qt5 --link-doc=hybrid-common

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

